Repository carbon-design-system/carbon-for-ibm-dotcom-nextjs-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint pages

feat(stylelint): add stylelint
  .lintstagedrc
  eslint-config-ibmdotcom/package.json
  package.json
  stylelint-config-ibmdotcom/.npmignore
  stylelint-config-ibmdotcom/CHANGELOG.md
  stylelint-config-ibmdotcom/index.js
  stylelint-config-ibmdotcom/package.json
  stylelint-config-ibmdotcom/plugins/prettier.js
  stylelint-config-ibmdotcom/plugins/scss.js
  stylelint-config-ibmdotcom/rules/limit-language-features.js
  stylelint-config-ibmdotcom/rules/possible-errors.js
  stylelint-config-ibmdotcom/rules/stylistic-issues.js
  stylelint-config-ibmdotcom/yarn.lock
  yarn.lock
Due: prettier --write, eslint pages

feat(stylelint): add stylelintrc file
  .stylelintrc
  package.json
  styles/global.scss
  styles/landing.scss
  styles/learn.scss
Due: none

chore(changelog): remove change logs
  .lintstagedrc
  eslint-config-ibmdotcom/CHANGELOG.md
  stylelint-config-ibmdotcom/CHANGELOG.md
Due: prettier --write

fix(lint): move eslint and stylelint packages into folder
  .eslintrc
  .lintstagedrc
  .stylelintrc
  package.json
  packages/eslint-config-ibmdotcom/.npmignore
  packages/eslint-config-ibmdotcom/index.js
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-config-ibmdotcom/vanilla.js
  packages/eslint-config-ibmdotcom/yarn.lock
  packages/stylelint-config-ibmdotcom/.npmignore
  packages/stylelint-config-ibmdotcom/index.js
  packages/stylelint-config-ibmdotcom/package.json
  packages/stylelint-config-ibmdotcom/plugins/prettier.js
  packages/stylelint-config-ibmdotcom/plugins/scss.js
  packages/stylelint-config-ibmdotcom/rules/limit-language-features.js
  packages/stylelint-config-ibmdotcom/rules/possible-errors.js
  packages/stylelint-config-ibmdotcom/rules/stylistic-issues.js
  packages/stylelint-config-ibmdotcom/yarn.lock
  yarn.lock
Due: prettier --write, eslint pages

fix(learn): reduce card section bottom padding
  styles/learn.scss
Due: none

feat(dotenv): adds dotenv to the project
  .env.example
  .gitignore
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint pages

feat(linklist): switching linklist to an aside item
  pages/learn.js
Due: prettier --write, eslint pages

fix(yarn): fix to yarn dependencies
  package.json
  styles/global.scss
  styles/landing.scss
  styles/learn.scss
  yarn.lock
Due: none

fix(card-section): fix to card section pattern style imports
  .env.example
  package.json
  styles/landing.scss
  styles/learn.scss
  yarn.lock
Due: none

feat(page): dds-pattens page created
  package.json
  pages/dds-patterns.js
  styles/dds.scss
  yarn.lock
Due: prettier --write, eslint pages

chore(page): update on page
  package.json
  pages/dds-patterns.js
  styles/dds.scss
  yarn.lock
Due: prettier --write, eslint pages

feat(page): callout-quote pattern added
  package.json
  pages/dds-patterns.js
  styles/dds.scss
  yarn.lock
Due: prettier --write, eslint pages

feat(page): dds-pattens page created (#15)
  package.json
  pages/dds-patterns.js
  styles/dds.scss
  yarn.lock
Due: prettier --write, eslint pages

fix(package): add services and utilities to update cmd
  package.json
Due: none

fix(solutions): use FeatureCardBlockLarge pattern in solutions page
  pages/dds-patterns.js
  styles/dds.scss
Due: prettier --write, eslint pages

fix(package): add services and utilities to update cmd (#16)
  package.json
Due: none

fix(page): use FeatureCardBlockLarge pattern in solutions page (#17)
  pages/dds-patterns.js
  styles/dds.scss
Due: prettier --write, eslint pages

feat(index): added dds-pattens page link
  pages/index.js
Due: prettier --write, eslint pages

feat(content-group-cards): added codesandbox example implementation
  pages/dds-patterns.js
  styles/dds.scss
Due: prettier --write, eslint pages

feat(index): added dds-patterns page link (#18)
  pages/index.js
Due: prettier --write, eslint pages

fix(page): prop updates to linklist and card for learn page
  pages/learn.js
Due: prettier --write, eslint pages

fix(ButtonGroup): add missing styles
  package.json
  styles/dds.scss
  yarn.lock
Due: none

fix(pages): update dotcomshell props
  pages/_app.js
Due: prettier --write, eslint pages

fix(ButtonGroup): add missing styles (#22)
  package.json
  styles/dds.scss
  yarn.lock
Due: none

fix(page): prop updates to linklist and card for learn page
  pages/_app.js
  pages/learn.js
Due: prettier --write, eslint pages

fix(solutions): change dds name to solutions
  pages/index.js
  pages/solutions.js
  styles/solutions.scss
Due: prettier --write, eslint pages

fix(solutions): add kaltura env vars to nextjs configs
  next.config.js
Due: prettier --write, eslint pages

fix(solutions): adjust calloutwithmedia prop to render video
  pages/solutions.js
Due: prettier --write, eslint pages

chore(docs): update env example file with kaltura ids
  .env.example
Due: none

fix(solutions): change dds name to solutions and add different video player ids (#23)
  .env.example
  next.config.js
  pages/index.js
  pages/solutions.js
  styles/solutions.scss
Due: prettier --write, eslint pages

fix(solutions): title fixes for the solution page
  components/altlang.js
  package.json
  pages/solutions.js
  styles/learn.scss
  yarn.lock
Due: prettier --write, eslint pages

fix(solutions): title fixes for the solution page (#24)
  components/altlang.js
  package.json
  pages/solutions.js
  styles/learn.scss
  yarn.lock
Due: prettier --write, eslint pages

fix(solutions): add proper image sources for featurecardblocklarge
  pages/solutions.js
Due: prettier --write, eslint pages

fix(solutions): add proper image sources for custom bp
  pages/solutions.js
Due: prettier --write, eslint pages

fix(yarn): removed next-progressbar
  next.config.js
  package.json
Due: prettier --write, eslint pages

fix(yarn): removed next-progressbar
  .yarn/offline-mirror/ci-info-1.6.0.tgz
  .yarn/offline-mirror/consola-1.4.5.tgz
  .yarn/offline-mirror/is-ci-1.2.1.tgz
  .yarn/offline-mirror/next-progressbar-1.0.0.tgz
  .yarn/offline-mirror/pretty-time-1.1.0.tgz
  .yarn/offline-mirror/slice-ansi-1.0.0.tgz
  .yarn/offline-mirror/std-env-1.3.1.tgz
  .yarn/offline-mirror/table-4.0.3.tgz
  .yarn/offline-mirror/webpackbar-2.6.4.tgz
  yarn.lock
Due: none

feat(ServicesPage): added some content added Leadspace, First and Second tabs of TOC
  pages/index.js
  pages/services.js
  styles/services.scss
Due: prettier --write, eslint pages

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: *.md)
  eslint pages: any of: **/*.js
