Repository carbon-design-system/carbon-for-ibm-dotcom-nextjs-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint pages

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint pages",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(npm): updating update scripts in package.json (#57)
  package.json
Due: none

chore(webpack): various performance improvements
  .yarn/offline-mirror/ci-info-1.6.0.tgz
  .yarn/offline-mirror/consola-2.14.0.tgz
  .yarn/offline-mirror/pretty-time-1.1.0.tgz
  .yarn/offline-mirror/std-env-2.2.1.tgz
  .yarn/offline-mirror/webpackbar-4.0.0.tgz
  .yarn/offline-mirror/wrap-ansi-6.2.0.tgz
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint pages

fix(SolutionsPage): 100% wide on mobile (#45)
  pages/solutions.js
Due: prettier --write, eslint pages

chore(webpack): disable sourcemaps for production builds
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.10.2-rc.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.10.2-rc.2.tgz
  next.config.js
Due: prettier --write, eslint pages

chore(webpack): more optimizations
  next.config.js
Due: prettier --write, eslint pages

chore(rtl): adding rtl environment for NextJS test
  .env.example
  .github/workflows/deploy-ibm-cloud.yml
  .yarn/offline-mirror/@carbon-colors-10.11.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.14.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.15.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.16.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.12.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.16.0.tgz
  .yarn/offline-mirror/@carbon-type-10.13.0.tgz
  .yarn/offline-mirror/@carbon-type-10.14.0.tgz
  .yarn/offline-mirror/carbon-components-10.17.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.17.0.tgz
  manifest-rtl.yml
  manifest-staging.yml
  next.config.js
  package.json
  pages/_app.js
  yarn.lock
Due: prettier --write, eslint pages

chore(yarn): merged changes and updated yarn offline mirror
  .yarn/offline-mirror/@carbon-colors-10.14.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.15.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.10.2-rc.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.11.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.10.2-rc.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.11.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.10.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.11.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.10.2-rc.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.11.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.17.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.19.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.13.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.18.0.tgz
  .yarn/offline-mirror/@carbon-type-10.15.0.tgz
  .yarn/offline-mirror/@carbon-type-10.16.0.tgz
  .yarn/offline-mirror/carbon-components-10.19.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.19.0.tgz
  yarn.lock
Due: none

fix(ServicesPage): remove blank space for markdown (#54)
  pages/services.js
Due: prettier --write, eslint pages

chore(rtl): adding RTL environment for NextJS test (#60)
  .env.example
  .github/workflows/deploy-ibm-cloud.yml
  .yarn/offline-mirror/@carbon-colors-10.11.0.tgz
  .yarn/offline-mirror/@carbon-colors-10.14.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.14.0.tgz
  .yarn/offline-mirror/@carbon-grid-10.15.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.10.2-rc.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-react-1.11.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.10.2-rc.2.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-services-1.11.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.10.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.11.0.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.10.2-rc.1.tgz
  .yarn/offline-mirror/@carbon-ibmdotcom-utilities-1.11.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.15.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.16.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.17.0.tgz
  .yarn/offline-mirror/@carbon-icons-react-10.19.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.12.0.tgz
  .yarn/offline-mirror/@carbon-layout-10.13.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.16.0.tgz
  .yarn/offline-mirror/@carbon-themes-10.18.0.tgz
  .yarn/offline-mirror/@carbon-type-10.13.0.tgz
  .yarn/offline-mirror/@carbon-type-10.14.0.tgz
  .yarn/offline-mirror/@carbon-type-10.15.0.tgz
  .yarn/offline-mirror/@carbon-type-10.16.0.tgz
  .yarn/offline-mirror/carbon-components-10.17.0.tgz
  .yarn/offline-mirror/carbon-components-10.19.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.17.0.tgz
  .yarn/offline-mirror/carbon-components-react-7.19.0.tgz
  manifest-rtl.yml
  manifest-staging.yml
  next.config.js
  package.json
  pages/_app.js
  yarn.lock
Due: prettier --write, eslint pages

chore(actions): adding set .env file action for the workflows
  .github/actions/set-dotenv/action.yml
  .github/actions/set-dotenv/index.js
Due: prettier --write, eslint pages

chore(actions): adding set .env file action for the workflows (#62)
  .github/actions/set-dotenv/action.yml
  .github/actions/set-dotenv/index.js
Due: prettier --write, eslint pages

fix(githubactions): added missing dependency @actions/core
  .yarn/offline-mirror/@actions-core-1.2.6.tgz
  package.json
  yarn.lock
Due: none

fix(rtl): enable rtlcss in postcss config
  .yarn/offline-mirror/colors-0.6.2.tgz
  .yarn/offline-mirror/commander-2.1.0.tgz
  .yarn/offline-mirror/findup-0.1.5.tgz
  .yarn/offline-mirror/rtlcss-2.6.0.tgz
  .yarn/offline-mirror/strip-json-comments-2.0.1.tgz
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint pages

fix(package): fixing dependencies for package.json
  package.json
Due: none

fix(rtl): enable rtlcss in postcss config (#63)
  .yarn/offline-mirror/colors-0.6.2.tgz
  .yarn/offline-mirror/commander-2.1.0.tgz
  .yarn/offline-mirror/findup-0.1.5.tgz
  .yarn/offline-mirror/rtlcss-2.6.0.tgz
  .yarn/offline-mirror/strip-json-comments-2.0.1.tgz
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint pages

chore(rename): rename to Carbon for IBM.com
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/SUPPORT.md
  README.md
  package.json
  packages/eslint-config-ibmdotcom/package.json
  packages/stylelint-config-ibmdotcom/package.json
  scripts/deploy_preview_comment.js
Due: prettier --write, eslint pages

chore(githubactions): adding repository dispatch events for deployments
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(githubactions): adding repository dispatch events for deployments (#66)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(copy): fix markdown copy formatting
  pages/learn.js
Due: prettier --write, eslint pages

fix(copy): fix markdown copy formatting (#67)
  pages/learn.js
Due: prettier --write, eslint pages

fix(template): adding missing commander
  .yarn/offline-mirror/astral-regex-2.0.0.tgz
  .yarn/offline-mirror/commander-6.2.0.tgz
  .yarn/offline-mirror/p-map-4.0.0.tgz
  .yarn/offline-mirror/rimraf-3.0.2.tgz
  .yarn/offline-mirror/slice-ansi-4.0.0.tgz
  package.json
  yarn.lock
Due: none

chore(docs): update question template
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

chore(docs): update question template (#69)
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

fix(content-block-cards): import missing styles
  styles/solutions.scss
Due: none

fix(content-block-cards): import missing styles (#70)
  styles/solutions.scss
Due: none

fix(environments): adding SASS_PATH to .env configs
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(environments): adding SASS_PATH to .env configs (#72)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(environments): adding SASS_PATH to .env config for RTL
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(slack): adding slack notifications from github actions
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

chore(slack): adding slack notifications from github actions
  .github/workflows/deploy-ibm-cloud-staging.yml
Due: none

chore(slack): adding slack notifications from github actions (#74)
  .github/workflows/deploy-ibm-cloud-staging.yml
  .github/workflows/deploy-ibm-cloud.yml
Due: none

fix(rtl): adding SASS_PATH to deployment script
  .github/workflows/deploy-ibm-cloud.yml
Due: none
